DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_TAG_ROLE_ID=
DISCORD_BOOST_ROLE_ID=
DISCORD_TAG_ANNOUNCMENT_CHANNEL_ID=
DISCORD_BOOST_ANNOUNCMENT_CHANNEL_ID=

# TempVC configuration
DISCORD_TEMPVC_CATEGORY_ID=
DISCORD_TEMPVC_CHANNEL_ID=
DISCORD_TEMPVC_MODERATOR_ROLE_ID=
DISCORD_VERIFIED_ROLE_ID=
DISCORD_SOUNDBOARD_ROLES_ID=
